<main class="main">
  <div class="content">
    <div class="top-box">{{data.title}}</div>
    <div class="center-box">
      <span class="circle">
        <img src="{{data.profileUrl}}" width="50px" height="50px"/>
      </span>
      <div style="flex-direction: column">
        <span>{{data.address}}</span>
        <span class="tertiary">{{data.tokenAmount}} {{data.tokenSymbol}}</span>
      </div>
    </div>
    <div>
      <div class="bottom-box">
        <button>Quick Play</button>
        <span>{{data.time}}</span>
      </div>
    </div>
  </div>
</main>
