<main class="main">
  <span>
    <img class="logo" ngSrc="/logo.png" height="30" width="30" alt="DisWorld" />
  </span>
  <div class="social-media">
    <span>
      <img ngSrc="/twitter.svg" height="25" width="25" alt="Twitter Logo" />
    </span>
    <span>
      <img ngSrc="/instagram.svg" height="25" width="25" alt="Twitter Logo" />
    </span>
    <span>
      <img ngSrc="/facebook.svg" height="25" width="25" alt="Twitter Logo" />
    </span>
    <span>
      <img ngSrc="/telegram.svg" height="25" width="25" alt="Twitter Logo" />
    </span>
    <span>
      <img ngSrc="/linkedin.svg" height="25" width="25" alt="Twitter Logo" />
    </span>
  </div>
</main>
