<main class="main">
  <div class="content">
    <h1 class="title">Bid or Bust</h1>
    <p class="subtitle">The Ultimate High-Stakes Bidding Game</p>
    <p>
      Welcome to Bid or Bust, the ultimate high-stakes bidding game!<br>
      Risk it all for a chance to win a huge prize, but be careful—only the highest bidder walks away with the 100 money, while others lose their bids.<br>
      Will you play it safe, or will you go all in?
    </p>
    <div>
      <h4>Game Rules</h4>
      <ul>
        <li>The Game Holder deposits some money into the game pot. This becomes the prize for the winner.</li>
        <li>All players place their bids during the bidding phrase.</li>
        <li>The two highest bidders forfeit their bid amounts.</li>
        <li>The highest bidder wins the deposited money.</li>
      </ul>
    </div>
    <div class="button-group">
      <button class="button-primary" (click)="play()">Play Game</button>
      <button class="button-secondary" (click)="hold()">Hold game</button>
    </div>
  </div>
</main>
