<main class="main">
  <span class="title">{{data.title!}}</span>
  <div class="info">
    <div>
      <span>Hold Amount</span>
      <div>
        <span>{{data.holdAmount!}}</span>
        <span>{{data.holdSymbol!}}</span>
      </div>
    </div>
    <div>
      <span>Holder</span>
      <span>{{data.holder}}</span>
    </div>
    <div>
      <span>{{data.holder!}}</span>
      <span>{{data.deadline!}}</span>
    </div>
  </div>
  <div class="info history">
    <app-scroll-view></app-scroll-view>
  </div>
  <div class="bottom">
    <button (click)="openDialog()">Quick Bid</button>
  </div>
  <div>
    <app-quick-bid></app-quick-bid>
  </div>
</main>
