<main>
  <div class="scroll-view" *ngIf="actionRecords.length > 0"
       infinite-scroll
       [infiniteScrollThrottle]="300"
       [scrollWindow]="false"
       (scrolled)="loadMore()"
  >
    <div *ngFor="let record of actionRecords">
      <div class="content">
        <span>{{record.address}}</span>
        <div class="content line2">
          <div class="content line2 column1">
            <span>{{record.name}}</span>
            <div>
              <span>{{record.amount}}</span>
              <span>{{record.symbol}}</span>
            </div>
          </div>
          <span>{{record.timestamp}}</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loading">Loading more content...</div>
</main>
