@use "../../styles" as global;
:host {
  width: 100%;
}

.tab-titles {
  display: flex;
  border-bottom: whitesmoke 1px solid;
  width: fit-content;
}

.tab-button {
  flex: 1;
  padding: 1rem 0;
  border: none;
  cursor: pointer;
  text-align: center;
  background: none;
  width: 10rem;
}
.tab-button.active {
  border-bottom: global.$secondary-color 1px solid;
}

.tab-content {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  height: 70vh;
}

.tab-content.scroll-view {
  display: flex;
  row-gap: 5px;
  padding: 0.5rem;
  overflow: scroll;
  flex-wrap: wrap;
  height: 100%;
}

.tab-content.empty {
  display: flex;
  width: 100%;
  justify-content: center;
  span {
    margin-top: 10rem;
  }
}
