
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-color: #14AE5C;
$primary-hover-color: #009951;
$secondary-color: #CFF7D3;
$secondary-hover-color: #AFF4C6;
$harmonize-color: #2C2C2C;
$harmonize-hover-color: #1E1E1E;

$secondary-text-color: #757575;

.logo {
  border-radius: 10%;
  box-shadow: 0 0 2px 3px #3F4651;
}
